* {
  text-align: center;
}

Body {
  margin: 0;
  background-color: black;
  padding: 0;
  background-image: url(./images/background2.jpg);
}

/* Header */
.headerWrapper {
  padding: 2em;
  color: white;
}

.label {
  text-transform: uppercase;
  padding: 1em;
}

h1 {
  text-shadow: 1px 2px black;
  color: black
}

input {
  width: 100%;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 5px 1px black;
  background-color: beige;
  color: black;
}

input:active {
  background-color: beige;
  color: black;
}

input:focus {
    outline-width: 0;
    background-color: bisque;
    color: black;
}

/* Search bar */
button {
  margin-top: 1em;
  padding: 0.5em;
  width: 10em;
  border-radius: 20px;
  border: 1px solid red;
  box-shadow: 5px 5px darkred;
  background-color: beige;
}

button:active, button:focus {
  outline: none;
  background-color: bisque;
}

/* Links */
.linksContainer {
  padding: auto;
  margin-top: 2em;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border-radius: 20px;
  border: 1px solid red;
  box-shadow: 5px 5px darkred;
  padding: 0.5em;
  border-radius: 5px;
  background-color: beige;
}

a:focus, a:active {
  color: black;
  text-decoration: none;
  border: 5px solid black;
  padding: 0.5em;
  border-radius: 5px;
  outline: none;
  background-color: bisque;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: black;
  padding: 0.5em;
  text-decoration: none;
  border: 3px solid black;
}

/* content - middle of page */
.spinner {
  padding: 2em;
}

.contentContainer {
 display: flex;
 flex-direction: row;
 width: auto;
 flex-wrap: wrap;
 margin: 0 auto;
 padding: 3em;
 justify-content: space-evenly;
}

.card { 
 flex-direction: column;
 width: 400px;
 margin: 1em;
 padding: 0.5em;
 text-align: center;
 align-items: center;
 border-radius: 10px;
 transition: background-color 0.6s ease;
 background-color: beige;
}

.card:hover {
  background-color: black;
  color: white;
}

.card:hover > .card-text {
  visibility: visible;
}

.hide {
  display: none;
}

.card:hover > .hide {
  display: block;
} 

.card-img {
  padding: 1em;
  width: 300px;
}
